*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #1A1A1A;
    font-family: 'Open Sans', sans-serif;
}

.content{
    margin: 25px 12vw;
    background-color: #1A1A1A;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.right{
    color: white;
}



/* defining colors */
.color1{
    color :white;
}
.color2{
    color: #BDBFC2;
}
.bold{
    font-weight: bold;
}


/*horizontal rule*/
.hr{
    height: 1px;
    width: 100%;
    background-color: gray;
}